{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/signin.css' %}">
{% endblock head %}

{% block title %}Sign In{% endblock title %}

{% block main %}
<div class="form" id="initial">
    <p>Kerberos ID</p>
    <input type="text" name="kerberos" placeholder="(e.g. ee1211108)" onkeyup="checkKerberosLength(this)" id="initial-kerberos">
</div>
<p id="initial-error" class="error"></p>
<button class="button" id="initial-continue" onclick="checkKerberos()">Continue</button>
<div id="register">
    <h2>Registration Link has been sent to your IIT Delhi Email Address.</h2>
</div>
<div class="form" id="signin">
    <p>Password</p>
    <input type="password" name="password" placeholder="Password" onkeyup="checkPasswordLength(this)" id="signin-password">
</div>
<p id="signin-error" class="error"></p>
<button class="button" id="signin-submit" onclick="login()">Sign In</button>
<p id="forgot-password" onclick="forgot()">Forgot Password?</p>
<div id="forgot">
    <h2>Password Reset Link has been sent to your IIT Delhi Email Address.</h2>
</div>
{% endblock main %}

{% block footer %}
<script src="{% static 'js/signin.js' %}"></script>
{% endblock footer %}